workflow:
  rules:
    - if: $CI_MERGE_REQUEST_ID
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == "master"
    - if: $CI_COMMIT_BRANCH =~ /^manticore-.*$/
    - if: $CI_COMMIT_BRANCH == "maintenance-release"

# to skip ci add [ci skip] or [skip ci] in commit message in any capitalization,
# or add param when pushing, as: git push -o ci.skip ...

variables:
  VERBOSE: 1
  UNITY_BUILD: 1

stages:
  - mirroring
  - routines
  - ubertests
  - publish
  - hooks

# ==================== Mirror repo to github (only 'master' branch) ======================

job_mirror:
  stage: mirroring
  needs: [ ]
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
    - if: $CI_COMMIT_BRANCH =~ /^manticore-.*$/
    - if: $CI_COMMIT_BRANCH == "maintenance-release"
  tags:
    - dev-host
  script:
    - rm -fr gitlab_github_sync
    - git clone git@gitlab.com:manticoresearch/dev.git gitlab_github_sync
    - cd gitlab_github_sync
    - git checkout $CI_COMMIT_BRANCH
    - git remote add github git@github.com:manticoresoftware/manticoresearch.git
    - git fetch github
    - git push -u github $CI_COMMIT_BRANCH
  cache: {}

# ==================== .helper build ======================

.build:
  stage: routines
  interruptible: true
  needs: [ ]
  tags:
    - docker-free
  image: manticoresearch/external_toolchain:vcpkg331_20250114
  variables:
    CACHEB: "../cache"
    DIAGNOSTIC: 1 # let's set it by default forever
    NO_TESTS: 1
    CTEST_CMAKE_GENERATOR: Ninja
    CTEST_CONFIGURATION_TYPE: RelWithDebInfo # most common default
    DISTR: jammy # our default build for tests
    arch: x86_64
    boost: boost_nov22
    sysroot: roots_nov22
  script:
    - ctest -VV -S misc/ctest/gltest.cmake --no-compress-output
    - exit_code=$?
    - if [ $exit_code -ne 0 ]; then echo "Previous command failed"; fi;
    - echo -e "\e[0Ksection_start:`date +%s`:xml_pack\r\e[0KCopy xml artifacts"
    - cd build && mkdir xml
    - cp -r Testing/2*/*.xml xml
    - echo -e "\e[0Ksection_end:`date +%s`:xml_pack\r\e[0K"
  cache:
    paths:
      - cache
    key: jammy_test
  artifacts:
    when: on_success
    expire_in: 12 hrs
    paths:
      - build/xml
      - build/CMakeFiles/CMake*.log
      - build/api/libsphinxclient/testcli
      - build/src/indexer
      - build/src/indextool
      - build/src/searchd
      - build/src/gtests/gmanticoretest
      - build/**/*.h
      - build/**/*.c
      - build/**/*.cxx
      - build/**/*.gcno

# ==================== .helper testing ======================

.tests:
  stage: ubertests
  needs: [ ]
  tags:
    - specdocker
  image: manticoresearch/ubertests_public:331
  variables:
    DIAGNOSTIC: 1 # let's set it by default forever
    CACHEB: "../cache"
  script:
    - ctest -V -S misc/ctest/gltest.cmake --no-compress-output
  after_script:
    - cd build
    - cp -r Testing/2*/Test.xml .
    - xsltproc -o junit_tests.xml ../misc/junit/ctest2junit.xsl Test.xml
  cache:
    key: jammy_test
    paths:
      - cache
  artifacts:
    expire_in: 12 hrs
    when: always
    reports:
      junit: build/junit_tests.xml
    paths:
      - build/junit_tests.xml
      - build/test/test_*/report.*
      - build/test/rt_*/report.*
      - build/test/col_*/report.*
      - build/test/error*.txt
      - build/test/searchd*.log
  retry: 1


# ==================== Simple build, then test ======================

simple_build:
  extends: [ .build ]
  before_script:
    - export CMAKE_TOOLCHAIN_FILE=$(pwd)/dist/build_dockers/cross/linux.cmake
  variables:
    CTEST_CMAKE_GENERATOR: "Unix Makefiles" # as Ninja fails with coverage
    CTEST_CONFIGURATION_TYPE: "Debug"
    WITH_COVERAGE: 1
    UNITY_BUILD: 0

simple_tests:
  extends: [ .tests ]
  needs: [ simple_build ]
  variables:
    CTEST_CONFIGURATION_TYPE: "Debug"
    WITH_COVERAGE: 1
    NO_BUILD: 1
    UNITY_BUILD: 0

# ==================== Release build, then test ======================

release_build:
  extends: [ .build ]
  before_script:
    - export CMAKE_TOOLCHAIN_FILE=$(pwd)/dist/build_dockers/cross/linux.cmake

release_tests:
  extends: [ .tests ]
  needs: [ release_build ]
  variables:
    CTEST_CONFIGURATION_TYPE: "RelWithDebInfo"
    NO_BUILD: 1

# ==================== Windows build, then test ======================

win_build:
  extends: [ .build ]
  variables:
    DISTR: windows
    arch: x64
    sysroot: roots_mysql83_jan17
    boost: boost_80
    CTEST_CMAKE_GENERATOR: "Ninja Multi-Config"
    CTEST_CONFIGURATION_TYPE: Debug
  artifacts:
    paths:
      - build/xml
      - build/src/$CTEST_CONFIGURATION_TYPE/indexer.exe
      - build/src/$CTEST_CONFIGURATION_TYPE/searchd.exe
      - build/src/gtests/$CTEST_CONFIGURATION_TYPE/gmanticoretest.exe
      - build/src/$CTEST_CONFIGURATION_TYPE/*.dll
      - build/src/gtests/$CTEST_CONFIGURATION_TYPE/*.dll
      - build/config/*.c
      - build/config/*.h
  cache:
    key: win_test

win_tests:
  stage: ubertests
  needs: [ win_build ]
  tags:
    - windev19
  variables:
    LIBS_BUNDLE: "x:/bundle"
    CACHEB: "x:/cache"
    BOOST_ROOT: "x:/boost_1_75_0"
    CTEST_CMAKE_GENERATOR: "Visual Studio 16 2019"
    CTEST_CONFIGURATION_TYPE: Debug
    CTEST_EXCLUDE_REGEX: "_466"
    NO_BUILD: 1
  script:
    - 'net use x: \\\\VBOXSRV\\shared'
    - ctest -V -S misc/ctest/gltest.cmake --no-compress-output
  after_script:
    - cd build
    - cp -r Testing/2*/*.xml xml
  artifacts:
    expire_in: 12 hrs
    when: always
    paths:
      - build/xml
      - build/test/test_*/report.*
      - build/test/rt_*/report.*
      - build/test/col_*/report.*
      - build/test/error*.txt
      - build/test/searchd*.log
  cache: { }


# ==================== Just build arm64 ======================

build_arm:
  extends: [ .build ]
  variables:
    arch: aarch64
  before_script:
    - export CMAKE_TOOLCHAIN_FILE=$(pwd)/dist/build_dockers/cross/linux.cmake
  script:
    - mkdir build && cd build
    - ctest -VV -S ../misc/ctest/justbuild.cmake -DCTEST_SOURCE_DIRECTORY=.. --no-compress-output
  cache:
    key: $DISTR$arch

# ==================== Just build FreeBSD 13 ======================

build_bsd:
  extends: [ .build ]
  variables:
    DISTR: freebsd13
    boost: none
  before_script:
    - export CMAKE_TOOLCHAIN_FILE=$(pwd)/dist/build_dockers/cross/freebsd.cmake
  script:
    - mkdir build && cd build
    - ctest -VV -S ../misc/ctest/justbuild.cmake -DCTEST_SOURCE_DIRECTORY=.. --no-compress-output
  cache:
    key: $DISTR$arch

# ==================== Publish (push) pipeline results ======================

# build and upload on regular commits
convert_win_junit:
  stage: publish
  tags:
    - docker
  image: manticoresearch/ubertests_public:331
  needs:
    - win_tests
  variables:
    GIT_STRATEGY: fetch
  script:
    - xsltproc -o build/junit_tests.xml misc/junit/ctest2junit.xsl build/xml/Test.xml
  artifacts:
    paths:
      - build/junit_tests.xml
    reports:
      junit: build/junit_tests.xml
  cache: {}

# ==================== Run secondary pipeline ======================

deploy_hook:
  stage: hooks
  trigger:
    include: dist/gitlab-release.yml
    forward:
      pipeline_variables: true
  needs:
    - job: simple_tests
      artifacts: false
    - job: win_tests
      artifacts: false
    - job: release_tests
      artifacts: false
    - job: build_arm
      artifacts: false
