workflow:
  rules:
    - if: $CI_MERGE_REQUEST_ID
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == "master"

stages:
  - mirroring
  - routines
  - build
  - publish

include: '/dist/gitlab-release.yml'

pages:
  stage: routines
  tags:
    - docker
  image: registry.gitlab.com/manticoresearch/dev/manticoredocs:latest
  script:
    - cd docs
    - make html
    - cd -
    - mkdir .public
    - cp -r docs/build/html/* .public
    - mv .public public
  artifacts:
    paths:
    - public
  rules:
    - if: $CI_COMMIT_BRANCH == "master"

job_mirror:
  stage: mirroring
  tags:
    - dev-host
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
  script:
    - ~/gitsync.sh

simple_tests:
  stage: routines
  rules:
    - if: $WHAT==null && $CI_COMMIT_TITLE !~ /^noci .*$/i && $CI_COMMIT_TITLE !~ /^nocilinux .*$/i
  tags:
    - specdocker
  dependencies: []
  image: registry.gitlab.com/manticoresearch/dev/ubertests:latest
  variables:
    CTEST_BUILD_CONFIGURATION: "Debug"
  script:
    - ctest -V -S misc/ctest/gltest.cmake
  after_script:
    - cd build && mkdir xml_simple_tests
    - cp -r Testing/2*/*.xml xml_simple_tests
  artifacts:
    paths:
    - build/xml_simple_tests
    - build/test/test_*/report.txt
    - build/test/error*.txt
    - build/test/searchd.log
    expire_in: 12 hrs
    when: always
  retry: 1

release_tests:
  stage: routines
  rules:
    - if: $WHAT==null && $CI_COMMIT_TITLE !~ /^noci .*$/i && $CI_COMMIT_TITLE !~ /^nocilinux .*$/i
  tags:
    - specdocker
  dependencies: []
  image: registry.gitlab.com/manticoresearch/dev/ubertests:latest
  variables:
    CTEST_BUILD_CONFIGURATION: "RelWithDebInfo"
  script:
    - ctest -V -S misc/ctest/gltest.cmake
  after_script:
    - cd build && mkdir xml_release_tests
    - cp -r Testing/2*/*.xml xml_release_tests
  artifacts:
    paths:
    - build/xml_release_tests
    - build/test/test_*/report.txt
    - build/test/error*.txt
    - build/test/searchd.log
    expire_in: 12 hrs
    when: always
  retry: 1

win_tests:
  stage: routines
  rules:
    - if: $WHAT==null && $CI_COMMIT_TITLE !~ /^noci .*$/i && $CI_COMMIT_TITLE !~ /^nociwindows .*$/i
  tags:
    - windows
    - build
  dependencies: []
  variables:
    LIBS_BUNDLE: "x:/bundle"
    OPENSSL_ROOT_DIR: "x:/bundle/openssl-x32"
    COPY_DLL: "x:/bundle/dll"
    WIN_TEST_CI: "1"
  script:
    - 'net use x: \\\\VBOXSRV\\shared'
    - export PATH='/cygdrive/x/bundle/openssl-x32:/cygdrive/x/bundle/Expat-1.95.8/Libs:/cygdrive/x/bundle/libiconv-1.9.1/bin:/cygdrive/x/bundle/mysql/bin:/cygdrive/x/php:'$PATH
    - tar -jxf /cygdrive/x/mysql/mysql.tar.bz2 -C /cygdrive/c/users/manticore/
    - /cygdrive/x/mysql/bin/mysqld.exe --defaults-file=c:/users/manticore/mysql/my.ini &
    - ctest -V -S misc/ctest/gltest.cmake -DCTEST_SOURCE_DIRECTORY='C:/cygwin64/home/manticore/builds/manticoresearch/dev/' -C Debug
  after_script:
    - cd build && mkdir xml_win_tests
    - cp -r Testing/2*/*.xml xml_win_tests
  artifacts:
    paths:
      - build/xml_win_tests
      - build/test/test_*/report.txt
      - build/test/error*.txt
      - build/test/searchd.log
    expire_in: 12 hrs
    when: always
  retry: 1

build_mac:
  stage: routines
  rules:
    - if: $WHAT==null && $CI_COMMIT_TITLE !~ /^noci .*$/i && $CI_COMMIT_TITLE !~ /^nocimacos .*$/i
  tags:
    - mac
    - build
  dependencies: []
  variables:
    CTEST_BUILD_CONFIGURATION: "Debug"
    LIBS_BUNDLE: "/work"
    CTEST_CMAKE_GENERATOR: "Unix Makefiles"
  script:
    - mkdir build && cd build
    - ctest -VV -S ../misc/ctest/justbuild.cmake -DCTEST_SOURCE_DIRECTORY=..
  after_script:
    - cd build && mkdir xml_build_mac
    - cp -r Testing/2*/*.xml xml_build_mac
  artifacts:
    paths:
      - build/xml_build_mac
    expire_in: 12 hrs
    when: always
  retry: 1

build_bsd:
  stage: routines
  rules:
    - if: $WHAT==null && $CI_COMMIT_TITLE !~ /^noci .*$/i && $CI_COMMIT_TITLE !~ /^nocifreebsd .*$/i
  tags:
    - freebsd
    - build
  dependencies: []
  variables:
    CTEST_BUILD_CONFIGURATION: "Debug"
    LIBS_BUNDLE: "/media/shared/bundle"
    USE_GALERA: 0
    WITH_ICU: 0
    CTEST_CMAKE_GENERATOR: "Unix Makefiles"
  script:
    - mkdir build && cd build
    - ctest -VV -S ../misc/ctest/justbuild.cmake -DCTEST_SOURCE_DIRECTORY=..
  after_script:
    - cd build && mkdir xml_build_bsd
    - cp -r Testing/2*/*.xml xml_build_bsd
  artifacts:
    paths:
      - build/xml_build_bsd
    expire_in: 12 hrs
    when: always
  retry: 1
  allow_failure: true

# build and upload on regular commits

build_master:
  stage: publish
  tags:
    - dev-host
  rules:
    - if: $WHAT==null && $CI_COMMIT_TITLE !~ /^noci .*$/i && $CI_COMMIT_BRANCH == "master"
  script:
    - ~/upload_repo.sh
  dependencies: [rhel6, rhel7, rhel8, jessie, stretch, trusty, xenial, bionic, buster, tarball, osx, windows]
  variables:
    REPO_NAME: dev


push_results:
  stage: publish
  rules:
    - if: $WHAT==null && $CI_COMMIT_TITLE !~ /^noci .*$/i
      when: always
  tags:
    - specdocker
  image: registry.gitlab.com/manticoresearch/dev/ubertests:latest
  dependencies:
    - simple_tests
    - release_tests
    - win_tests
    - build_mac
    - build_bsd
  variables:
    GIT_STRATEGY: fetch
  script:
    - ctest -S misc/ctest/upload.cmake
  artifacts:
    reports:
      junit: build/junit_*.xml
  environment:
    name: ${CI_COMMIT_REF_NAME}
    url: http://$CDASH_URL/CDash/public/index.php?project=Manticoresearch&filtercount=1&field1=revision&compare1=63&value1=$CI_COMMIT_SHA
  retry: 1
  allow_failure: true
