# /
/Makefile
/config.status
/config.log
/sphinx-min.conf.dist
/sphinx.conf.dist
/bin
/junk
/*.suo
/*.ncb
/*.sdf
/*.opensdf
/.hg

# cmake local presets
/CMakeUserPresets.json

# /api/libsphinxclient/
/api/libsphinxclient/*.ncb
/api/libsphinxclient/*.suo
/api/libsphinxclient/*.user
/api/libsphinxclient/debug
/api/libsphinxclient/release

# clion build dir, also reserve /build
/.idea
/test/.idea
/cmake-build*
/build
/buildx64
/build_temp
/build_*
/rlp
/.vs

# /config/
/config/stamp-h1
/config/config.h

# /libstemmer_c/
/libstemmer_c/Makefile
/libstemmer_c/.deps

# /src/
/src/indexer
/src/indextool
/src/search
/src/searchd
/src/spelldump
/src/tests
/src/wordbreaker
/src/Makefile
/src/.deps
/src/sphinxversion.h
/src/*.o
/src/libsphinx.a

# /win/
/win/*.user
/win/*.filters

# /doc
/doc/Makefile

# /test
/test/test_*/report.*
/test/test_*/Conf
/test/data
/test/localsettings.inc

# /test/ql/
/test/ql/data/*.log
/test/ql/data/*.lock
/test/ql/*.class
/test/ql/*.exe

/local_*_src.txt
/test/clt-tests/**/*.rep
/clt

