Source: manticore
Section: misc
Priority: optional
Maintainer: Manticore Search Maintainers <build@manticoresearch.com>
Uploaders:
    Adrian Nuta <adrian.nuta@manticoresearch.com>
Build-Depends:
   cmake (>= 2.8), debhelper-compat (=11), 
   lsb-release,
   default-libmysqlclient-dev,
   libexpat-dev,
   libpq-dev,
   unixodbc-dev,
   libstemmer-dev,
   libre2-dev
Homepage: https://www.manticoresearch.com
Standards-Version: 4.2.1
Vcs-Browser: https://github.com/manticoresoftware/manticoresearch/
Vcs-Git: https://github.com/manticoresoftware/manticoresearch.git

Package: manticore
Architecture: any
Pre-Depends: adduser (>= 3.40)
Depends:
 ${shlibs:Depends}, ${misc:Depends}, lsb-base
Suggests:
 default-libmysqlclient,libexpat,libpq,unixodbc, libstemmer,libre2
Description: High performance full-text search engine
 Manticore Search is a high performance full-text search oriented engine 
 with SQL and JSON support.
