Source: manticore
Section: misc
Priority: optional
Maintainer: Manticore Search Maintainers <build@manticoresearch.com>
Uploaders: Adrian Nuta <adrian.nuta@manticoresearch.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 11),
               default-libmysqlclient-dev,
               libexpat-dev,
               libpq-dev,
               libre2-dev,
               libstemmer-dev,
               lsb-release,
               unixodbc-dev
Homepage: https://www.manticoresearch.com
Standards-Version: 4.2.1
Vcs-Browser: https://github.com/manticoresoftware/manticoresearch/
Vcs-Git: https://github.com/manticoresoftware/manticoresearch.git

Package: manticore
Architecture: any
Pre-Depends: adduser (>= 3.40)
Depends: lsb-base, ${misc:Depends}, ${shlibs:Depends}
Suggests: default-libmysqlclient, libexpat, libpq, libre2, libstemmer, unixodbc
Replaces: sphinxsearch
Breaks: sphinxsearch
Description: High performance full-text search engine
 Manticore Search is a high performance full-text search oriented engine
 with SQL and JSON support. It is a fork of Sphinx Search engine.
 Main features:
    * advanced text search
    * distributed indexes and high availability
    * Real-Time indexes
    * Geosearch locating
    * JSON objects
    * Percolate Queries
    * Faceted search
