[package]
name = "_rust_hello_world"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

[lib]
crate-type = ["staticlib"]

[profile.production]
inherits = "release"
lto = true
codegen-units = 1
