name: Checkdocs

on:
  pull_request:
    paths:
      - 'manual/**'
    branches:
      - master
      - manticore-*

jobs:
  trigger_check_docs:
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
    steps:
      - name: Trigger doc check
        run: |
          echo "Doc check triggered"
