name: CLT latest release installation tests
run-name: CLT latest release installation tests ${{ github.sha }}

on:
  schedule:
    - cron: '00 20 * * *'

# cancels the previous workflow run when a new one appears in the same branch (e.g. master or a PR's branch)
concurrency:
  group: clt_nightly_${{ github.ref }}
  cancel-in-progress: true

jobs:
  clt_rhel_release_installation:
    name: Testing DEB release packages installation
    strategy:
      fail-fast: false
      matrix:
        image: [ "centos:7", "almalinux:8", "almalinux:9", "oraclelinux:9", "amazonlinux:latest" ]
    runs-on: ubuntu-22.04
    steps:
      - uses: manticoresoftware/clt@0.1.1
        with:
          image: ${{ matrix.image }}
          test_prefix: test/clt-tests/installation/rhel-release-
          run_args: -e TELEMETRY=0
  clt_deb_release_installation:
    name: Testing DEB release packages installation
    strategy:
      fail-fast: false
      matrix:
        image: [ "ubuntu:bionic", "ubuntu:focal", "ubuntu:jammy", "debian:buster", "debian:bullseye", "debian:bookworm" ]
    runs-on: ubuntu-22.04
    steps:
      - uses: manticoresoftware/clt@0.1.1
        with:
          image: ${{ matrix.image }}
          test_prefix: test/clt-tests/installation/deb-release-
          run_args: -e TELEMETRY=0
