name: Nightly tests
run-name: Nightly tests ${{ github.sha }}

on:
  schedule:
    - cron: '00 20 * * *'
  push:
    paths:
      - 'test/clt-tests/**'
    branches:
      - manticore-6.2.12
  pull_request:
    branches: [ master ]
    paths:
      - 'test/clt-tests/installation/**'
      - 'test/clt-tests/core/test-replace-into'
      - 'test/clt-tests/comparison-overhead-json-sql/**'

# cancels the previous workflow run when a new one appears in the same branch (e.g. master or a PR's branch)
concurrency:
  group: clt_nightly_${{ github.ref }}
  cancel-in-progress: true

jobs:
  commit_info:
    name: Commit info
    runs-on: ubuntu-22.04
    steps:
      - run: |
          echo "# Nightly tests of latest release" >> $GITHUB_STEP_SUMMARY
          echo "* Attempt: ${{ github.run_attempt }}" >> $GITHUB_STEP_SUMMARY

  clt:
    name: CLT
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false 
      matrix:
        test_suite:
          - name: RHEL release packages installation
            image: [ "centos:7", "almalinux:8", "almalinux:9", "oraclelinux:9", "amazonlinux:latest" ]
            test_prefix: test/clt-tests/installation/rhel-release-
          - name: DEB release packages installation
            image: [ "ubuntu:bionic", "ubuntu:focal", "ubuntu:jammy", "debian:buster", "debian:bullseye", "debian:bookworm" ]
            test_prefix: test/clt-tests/installation/deb-release-
          - name: RHEL dev packages update
            image: [ "centos:7", "almalinux:8", "almalinux:9", "oraclelinux:9", "amazonlinux:latest" ]
            test_prefix: test/clt-tests/installation/rhel-dev-u
          - name: DEB dev packages update
            image: [ "ubuntu:bionic", "ubuntu:focal", "ubuntu:jammy", "debian:buster", "debian:bullseye", "debian:bookworm" ]
            test_prefix: test/clt-tests/installation/deb-dev-u
          - name: Testing comparison overhead JSON and SQL
            image: ghcr.io/manticoresoftware/manticoresearch:test-kit-latest
            test_prefix: test/clt-tests/comparison-overhead-json-sql/test-comparison-
          - name: Testing replcae into
            image: ghcr.io/manticoresoftware/manticoresearch:test-kit-latest
            test_prefix: test/clt-tests/core/test-replace-into
    steps:
      - uses: manticoresoftware/clt@0.1.23
        with:
          ref: manticore-6.2.12
          image: ${{ matrix.test_suite.image }}
          test_prefix: ${{ matrix.test_suite.test_prefix }}
          comment_mode: failures

