name: Deploy docs

on:
  workflow_call:

jobs:
  docs_deploy:
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash
    #    timeout-minutes: 30
    container:
      image: manticoresearch/docs_autodeploy:latest
      env:
        CACHEB: "../cache"
        DOCKER_HOST: tcp://docker:2375/
        DOCKER_DRIVER: overlay2
        RELEASE_FILENAME: latest_release_version
        COMMIT_DIR: manual
        DEPLOY_TARGET: k8s
        DOCS_ERRORS_DIR: build/docs/
        DOCS_AUTOCOMMIT_TITLE: 'Docs_examples_update'
        DOCS_EXAMPLES_FILEPATH: 'build/test/examples.txt'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          set-safe-directory: true

      - name: Deploy
        run: |
          ls
          pwd
          echo $DEPLOY_TARGET $COMMIT_DIR $DOCS_ERRORS_DIR
          sh /Deploy/autoupdate.sh $DEPLOY_TARGET $COMMIT_DIR $DOCS_ERRORS_DIR

      - name: Upload artifact
        uses: manticoresoftware/upload_artifact_with_retries@main
        with:
          name: Docs error artifact
          path: $DOCS_ERRORS_DIR

